.responder
{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #FF0000;
  display: inline-block;
  transform: scale(0,0);  
  -ms-transform: scale(0,0);
  -webkit-transform: scale(0,0);  
  transition: all 0.4s;  
  -webkit-transition: all 0.4s;   
}

.grow {
  transform: scale(1,1);  
  -ms-transform: scale(1,1);
  -webkit-transform: scale(1,1);
}
