
$bgColor: #4D4D4D;
$rDiameter: 100px;
$rBorderColor: rgba(255, 255, 255, 1);
$rGlowColor: rgba(255, 255, 255, 1);
$rScaleSmall: scale(0,0);
$rScaleBig: scale(1,1);
$rGrowTime: 0.4s;
$rGlowSize: 30px;

body, html
{
  background-color: $bgColor;
  padding: 10px;
}

#output
{
  position: absolute; 
  top: 50%;
  left: 50%;
  height: $rDiameter;
  width: $rDiameter;
  margin: -100px auto 0 -100px;
}

.instrument
{
  width: $rDiameter;
  height: $rDiameter;
  border-radius: 50%;
  border: 2px solid $rBorderColor;
  display: inline-block;
  box-shadow: 0 0 $rGlowSize $rGlowColor;
  -webkit-box-shadow: 0 0 $rGlowSize $rGlowColor; 
  -moz-box-shadow: 0 0 $rGlowSize $rGlowColor; 
  transform: $rScaleSmall;  
  -ms-transform: $rScaleSmall;
  -webkit-transform: $rScaleSmall;  
  transition: all $rGrowTime;  
  -webkit-transition: all $rGrowTime;   
}

.grow {
  transform: $rScaleBig;  
  -ms-transform: $rScaleBig;
  -webkit-transform: $rScaleBig;
}
